attrs==17.3.0
backports.ssl-match-hostname==3.5.0.1
certifi==2017.11.5
chardet==3.0.4
docker==2.6.1
docker-pycreds==0.2.1
fake-useragent==0.1.8
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.18
pluggy==0.6.0
py==1.5.2
pytest==3.3.0
pytest-html==1.16.0
pytest-metadata==1.5.1
requests==2.18.4
six==1.11.0
urllib3==1.22
useragent==0.1.1
websocket-client==0.44.0